.container {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  padding: 20px;
}

.title {
  color: red;
  text-align: center;
  font-size: 2.8rem;
}

.innerContainer {
  width: 730px;
  margin: auto;
}

.paragraph {
  text-align: justify;
}
