.container {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  padding: 20px;
}

.title {
  color: red;
  text-align: center;
  font-size: 2.8rem;
}

.innerContainer {
  width: 750px;
  margin: auto;
}

.paragraph {
  text-align: justify;
}

.subheading {
  color: blue;
  margin-top: 10px;
  font-style: italic;
  font-weight: 900;
}

.subheading3 {
  margin-top: 20px;
}
