.container {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  padding: 20px;
}

.title {
  color: red;
  text-align: center;
  font-size: 2.9rem;
}

.innerContainer {
  max-width: 750px;
  margin: auto;
}

.paragraph {
  text-align: justify;
}

.subheading {
  color: blue;
  margin-top: 10px;
  font-style: italic;
  font-weight: 900;
}

.subheading3 {
  margin-top: 20px;
}

.conclusion {
  margin-top: 20px;
  border-top: 2px solid red;
  padding-top: 50px;
}

@media screen and (max-width: 600px) {
  .title {
    color: rgb(13, 13, 13);
    font-size: 3.2rem;
  }

  .paragraph {
    text-align: justify;
  }
}
