.container {
  display: flex;
  justify-content: center;
  align-content: center;
}

.innerContainer {
  width: 600px;
}

.title {
  color: red;
  font-size: 7rem;
}

.paragraph {
  text-align: justify;
}
