.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}

.innerContainer {
  max-width: 725px;
  margin: auto;
}
.title {
  font-size: 3.3rem;
  color: red;
  text-align: center;
}

.tagline {
  text-align: center;
  color: blue;
  margin-bottom: 20px;
}

.content {
  text-align: justify;
}

.h5 {
  padding-top: 40px;
  color: red;
  text-align: center;
}
@media screen and (max-width: 600px) {
  .title {
    color: rgb(13, 13, 13);
    font-size: 3.4rem;
  }
}
