.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}

.innerContainer {
  max-width: 725px;
  margin: auto;
}

.subContainer {
  display: flex;
  align-content: center;
  justify-content: center;
}

.title {
  text-align: center;
  font-size: 4.4rem;
  color: green;
}

.tagline {
  text-align: center;

  color: blue;
  margin-bottom: 20px;
}

.lsvg {
  margin: 0 20px;
}
.content {
  text-align: justify;
}

.h5 {
  padding-top: 40px;
  color: red;
  text-align: center;
}

.js {
  color: blue;
  margin: 0 5px;
}

@media screen and (max-width: 600px) {
  .title {
    color: red;
    font-size: 3.4rem;
  }
  .tagline {
    color: blue;
    font-size: 1.2rem;
  }
  .lsvg {
    color: green;
  }
}
